[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=opentoonz_exporter
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Export Animation to OpenToonz Scene
Comment=Export Krita animation to OpenToonz scene format (.tnz)
